#home main {
    margin-top: -7rem;
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
           margin-top: 4rem;
        }
}

/* Microsoft Edge Browser 12+ (All) - @supports method */
@supports (-ms-ime-align:auto) {
    #home main {
        margin-top: 4rem;
    }
}

.box {
    i {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
}
