<footer class="bg-secondary">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-sm-6 col-md-3">
                <figure class="text-center">
                    <img src="/dist/images/talent-spark-logo-footer.png" class="img-fluid" alt="TalentSpark Boise Recruiting Company"/>
                </figure>
            </div>
            <div class="col-sm-12 col-md-4">
                <ul class="list-unstyled my-5 my-sm-0">
                    <li class="title">Useful Links</li>
                    <li class="footer-links"><a href="/">Home <i class="fas fa-angle-right"></i></a></li>
                    <li class="footer-links"><a href="about.html">About Us <i class="fas fa-angle-right"></i></a></li>
                    <li class="footer-links"><a href="contact.html">Contact Us <i class="fas fa-angle-right"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3">
                <ul class="list-unstyled">
                    <li class="title">Contacts</li>
                    <li class="py-2 d-flex"><i class="fal fa-map-pin fa-2x mr-3"></i> <a href="https://goo.gl/maps/v4LSsecZj742" target="_blank">280 N. 8th Street, Ste 208A<br />Boise, Idaho 83702</a></li>
                    <li class="py-2 d-flex"><i class="fal fa-phone fa-lg mr-3"></i>(406) 498-6766</li>
                    <li class="py-2 d-flex"><i class="fal fa-envelope-open fa-lg mr-3"></i> <a href="mailto:jbrajcich@talentspark.com">jbrajcich@talentspark.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-light pt-4 pb-2 mt-5">
        <div class="container">
            <div class="col-12">
                <p class="text-secondary">&copy; Talent Spark 2019. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="/dist/scripts/main.js"></script>
